
body {
	margin:0;
	padding: 0;
	
}
nav{
	font-size: 20px;
}

h2{
	font-size: 3em;
	padding: 35px;
	font-family: 'Roboto', sans-serif;
}
#main-container{
	margin:0;
	padding: 0;
}
#home{
	background : url('../images/computer.svg') no-repeat;
	color:white;
	background-size: 100%;
	width: 100%;
	min-height: 650px;

}

#downarrow{
margin-left: 49%;
width: 2%;

}

#rest{
	width: 100%;
	position: relative;
	left: 0;
	right:0;
}
#about {
	background: url('../images/banner.png') no-repeat;
	background-size: 100%;
	height: 600px;
	width: 100%;
}
#about-container{
	background: #E1F7E7;
	height: 900px;
}

#about h2 {
	color:white;
}
#need-site h2{
	color: #0284A8;
	padding-top: 0;
}
#c-d{
	width: 50%
}
.c-d{
	width: 30%;

}
.fairplex{
	font-family: "fairplex-narrow";
}

.roboto{
	font-family: 'Roboto', sans-serif;
}
.right{
	float:right;
}
#contact{
	height: 500px;
	background-color: #A9E8DC;
	margin-top: 4%;
	padding: 0;
}
#me-pic{
	width: 150px;
}

.work-item-img:hover {
	opacity: 0.5;
}

.animation {
  animation-duration: 2s;
  animation-fill-mode: both;
}
footer{
	background-color: #BCBCBC;
	position:relative;
	bottom: 0;
	min-height: 150px;
}

@keyframes in {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
 }

.in {
  animation-name: in;
}
@keyframes out {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.out {
  animation-name: out;
}





@media (min-width: 400px){

#main-container {
    width: 100%;
}
}



